[alias]
  cm = commit -m
  cma = commit -am
  st = status
  co = checkout
  df = diff
  cl = clone
[user]
  name = Madhusudhan Srinivasa
  email = madhums8@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[github]
  user = madhums
  token = 1a9c96d572c2ee246c07ea7f260604fe
[core]
	editor = gedit
	excludesfile = /home/madhu/.gitignore_global
